<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout :: layout(~{::title},~{::body/content()})}">
<head>
<title>ログイン画面</title>
</head>
<body>
  <p>ログイン画面</p>
  <div id="main">
    <p>ユーザーIDとパスワードを入力してください。</p>
    <p class="error" th:text="${errMessage}"></p>
	<form action="/book_list/login" method="post" th:object="${loginForm}">
      ユーザーID:<input type="text" th:field="*{bookUserId}"><br>
      <span th:errors="*{bookUserId}"></span><br/>
      パスワード:<input type="password" th:field="*{password}" th:errors="*{password}"><br>
       <span th:errors="*{password}"></span><br/>
      <input type="submit" value="ログイン">
    </form>
  </div>
</body>
</html>
